# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [2]:
# CODE HER
person1={'Name':'John','Gender':'Male','Occuption':'Data Scientist','Location':'Nizampet,Hyderabad'}
person1

{'Name': 'John',
 'Gender': 'Male',
 'Occuption': 'Data Scientist',
 'Location': 'Nizampet,Hyderabad'}

> print keys in person1 as a list

In [5]:
# CODE HERE
list(person1.keys())

['Name', 'Gender', 'Occuption', 'Location']

> **`Question:` Remove Location in person1**

In [6]:
# CODE HERE
person1.pop('Location')
person1

{'Name': 'John', 'Gender': 'Male', 'Occuption': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [ ]:
# CODE HERE

In [9]:
person2={'Name':'Raghu Ram','Gender':'Male','Age':'25','Occupation':'Data Scienctist'}

In [10]:
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': '25',
 'Occupation': 'Data Scienctist'}

> **`Question:` Print the output as show below**

In [11]:
print('======================person1=====================')
print(person1)
print('======================person2=====================')
print(person2)

======================person1=====================
{'Name': 'John', 'Gender': 'Male', 'Occuption': 'Data Scientist'}
======================person2=====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': '25', 'Occupation': 'Data Scienctist'}

In [12]:
person1

{'Name': 'John', 'Gender': 'Male', 'Occuption': 'Data Scientist'}

In [13]:
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': '25',
 'Occupation': 'Data Scienctist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [14]:
# CODE HERE
d={1:1,2:4,3:9,4:16,5:25,6:36,7:49}

In [15]:
#method 1
d.popitem()
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [16]:
# method 2
d.pop(5)
d

{1: 1, 2: 4, 3: 9, 4: 16, 6: 36}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [17]:
# CODE HERE
d={0:0,1:1,3:9,5:25,7:49,9:81}
a=list(d.values())
a
a.reverse()
a

[81, 49, 25, 9, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [18]:
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
dict1|dict2|dict3

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [19]:
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}
sample_dict["emp3"]["salary"]=8500
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [22]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
sampleDict['class']['student']['marks']['history']

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [24]:
d={'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}
v=d["Location"]
d.pop("Location")
d["Area"]=v
d

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

In [62]:
database = {'ram':1234,'raghu':5678,'kanva':1357} #creating dictionary
user= input('please enter your username here: ') #username input
password=int(input('please enter your password here: ')) # password input
for user in database: #invoking each item
    if database[user]==password: #format(user))
        print('Hello! {}.'.format(user))
        break #break if condition is true
else: #if pass and user name dosen't matches
    print('Username and password doesnot matches') 
    #taking opinion to add new or not
    inp=input('Do you want me to update your new username and password: Yes/No ')
    if inp.lower()=='yes':
        u=input('Please enter your new username here(A-Z): ')
        p=int(input('Please enter your new password here(0-9): '))
        #adding new username and password to the database
        database[u]=p
        print("Here's the updated data: ",database)
    else:
        print('Thank you! visit back with valid credentials.')
    exit()

please enter your username here: ram
please enter your password here: 23132313
Username and password doesnot matches
Do you want me to update your new username and password: Yes/No yes
Please enter your new username here(A-Z): BhaniCilver
Please enter your new password here(0-9): 13231323
Here's the updated data:  {'ram': 1234, 'raghu': 5678, 'kanva': 1357, 'BhaniCilver': 13231323}